version: '{build}'
image: Visual Studio 2019

environment:
  matrix:
  - TARGET: dotnet
  - TARGET: native
    UNO_TEST_ARGS: -DDEBUG_UNSAFE

install:
  - ps: |
      if ($env:Target -eq "native") {
        Invoke-WebRequest https://www.nuget.org/api/v2/package/mesa3d-x64/18.3.4 -OutFile mesa.zip
        Expand-Archive mesa.zip mesa
      }
  - npm install

build_script:
  - npm pack --silent

artifacts:
  - path: '*.tgz'

before_test:
  - ps: |
      if ($env:Target -eq "native") {
        Get-ChildItem -Path lib -Recurse -Include *Test.unoproj | Select-Object -ExpandProperty DirectoryName | Foreach-Object {
          $buildDir = Join-Path $_ build\Test\Native
          New-Item -Force -ItemType directory -Path $buildDir | Out-Null
          Copy-Item -Path mesa\opengl32.dll -Destination (Join-Path $buildDir opengl32.dll)
        }
      }

test_script:
  - nunit3-console
      src\test\tests\bin\Release\Uno.TestRunner.Tests.dll
      src\ux\tests\bin\Release\Uno.UX.Markup.Tests.dll
  - npm test %TARGET%
